doctype html
html( lang='en' )
	head
		style= headStyles
	body
		p Hello!
		p Your Rocketeers have new outfits available.
		p To generate new outfits, visit the changing room here: https://mint.rocketeer.fans/#/outfits
		p Have a great day,
		p ~ Rocketeer HQ