body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ///////////////////////////////
// Flow text
// /////////////////////////////*/
html {
  font-size: calc( 18px + .1vw );
}

/* ///////////////////////////////
// Brand styles
// /////////////////////////////*/

h1 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
	text-align: left;
}

h2 {
	font-size: 1.5rem;
	font-style: italic;
	margin: 0 0 1rem;
	line-height: 1.2;
	font-weight: 400;
	text-align: left;
}

p {
	font-size: 1rem;
	margin: 1rem 0;
	line-height: 1.5rem;
	text-align: left
}

a.button {
	display: inline-block;
	padding:  1rem 2rem;
	margin: .5rem;
	margin-left: 0;
	text-decoration: none;
	/*border: 2px solid var( --color-primary );*/
	border: 2px solid black;
	/*color: var( --color-primary );*/
	color: black;
	font-size: 1rem;
	background: none;
	border-radius: 5px;
}

input {
	/*background: var( --color-backdrop );*/
	background: rgba( 0, 0, 0, .05 );
	border: none;
	/*border-left: 2px solid var( --color-primary );*/
	border-left: 2px solid black;
	padding: 1rem;
	margin:  1rem 10% 1rem 0;
	width: 90%;
}

img.avatar {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	display:  block;
	padding:  1rem 0;
}