/* // //////////////////////////////
// Globals
// ////////////////////////////// */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*Login button*/
a.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba( 0, 0, 0, .3 );
  color: rgba( 0, 0, 0, .8 );
  text-decoration: none;
  font-size: 1.5rem;
  padding: .5rem 1.1rem .5rem 1rem;
  margin-top:  1rem;
}

a img {
  height: 50px;
  width: 50px;
  padding-right: 20px;
}

input#address {
  padding: .2rem .5rem;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

.stretchBackground {
  position: absolute;
  opacity: 1;
  z-index: -1;
}

h1, p, label, .button {
  background: rgba( 255, 255, 255, .8 );
}

h1, p, label {
  padding: .2rem .5rem;
}